
.scroll-top-button{
    position: fixed;
    z-index: 10;
    bottom: 3rem;
    right: 3rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--color-white);
    cursor: pointer;
    transition: all 3s;
}

@media (max-width: 844px){
    .scroll-top-button{
        position: fixed;
        z-index: 10;
        bottom: 2rem;
        right: 2rem;
        border-radius: 50%;
        background-color: var(--color-secondary);
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: var(--color-white);
        cursor: pointer;
        transition: all 3s;
    }
}