.img-about-me{
    object-fit: cover;
    width: 27rem;
    height: 27rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, var(--color-primary) 0px 2px 16px 0px;
    border-radius: 8%;
}
@media (max-width: 844px){
    .img-about-me{
        object-fit: cover;
        height: 22rem;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, var(--color-primary) 0px 2px 16px 0px;
        border-radius: 8%;
    }
}