.img-intro{
    width: 32rem;
    height: 32rem;
    object-fit: cover;
    animation: bubble-effect-img 15s forwards infinite;
    border-color: var(--color-primary) ;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, var(--color-primary) 0px 2px 16px 0px;
}
@media (max-width: 1024px){
    .img-intro{
        width: 22rem;
        height: 22rem;
        object-fit: cover;
        animation: bubble-effect-img 15s forwards infinite;
        border-color: var(--color-primary) ;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, var(--color-primary) 0px 2px 16px 0px;
    }
    .tech-icon{
        width: 2.2rem !important;
        height: 2rem !important;
    }
    .text-title{
        font-size: 1.8rem;
    }
}

.img-emoji{
    width: 2.3rem;
    height: 2.3rem;
}
.img-emoji-small{
    width: 18px;
    height: 18px;
}

.hook-icons{
    color: var(--color-primary);
    width: 2.3rem;
    height: 2.3rem;
}

.subtitle-text{
color: gray;
}
.tech-icon{
    width: 2.7rem;
    height: 2.5rem;
}
.html-icon  {
    color: #e34c26
}
.css-icon{
    color:#2965f1
}

.js-icon{
    color:#F0DB4F;
}
.angular-icon{
    color: rgb(213, 37, 37);
}
.react-icon{
    color: rgb(47, 56, 189);
}
.bootstrap-icon{
    color: rgb(118, 37, 108);
}