@import 'tailwind.css';
@import 'fonts.css';
@import 'animations.css';
@import 'variables.css';

html {
  font-family: 'Montserrat', sans-serif;
}
.color-primary{
  color: var(--color-primary) !important;
}
.color-secondary{
  color: var(--color-secondary) !important;
}
.color-white{
  color: var(--color-white) !important;
}
.deep-effect{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}